@layer components {
    fieldset {
        display: flex;
        background-color: var(--color-bg-fieldset);
        border: var(--border-width-small) solid var(--border-color-main);
        padding: var(--padding-xxxl);
        border-radius: var(--border-radius-base);

    }
   
}