@layer components {
    .fieldset-geoform {
        display: flex;
        flex-direction: column;
        border: var(--border-width-small) solid var(--border-color-fieldset);
        padding: var(--padding-xxxl);
        border-radius: var(--border-radius-base);
        gap: 1.05rem;
        margin: 0 0 1.4rem;
        background: var(--color-bg-fieldset);
        box-shadow: var(--fieldset-shadow);

    }
   
}