@layer components {
        main {
        background-color: var(--color-bg-body-gray---cool-blue);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 1rem; 
        padding-bottom: 0;
        margin: 0 auto; /**top bottom left right*/
        overflow-x: hidden;
        max-width: 100vw;
        height: auto;
        min-height:  100dvh
    }

    main * {
        font-family: var(--font-primary);
    }

}   
    
