@layer components {
    
        .main {
        background-color: var(--color-bg-body-gray---cool-blue);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 1rem; 
        padding-bottom: 2.5rem;
        margin: 0 auto; /**top bottom left right*/
        overflow-x: hidden;
        max-width: 100%;
        width: 100%;
        flex: 1;
        height: auto;
    
    }

    .main * {
        font-family: var(--font-primary);
    }

}   
    
