@layer tokens {
    :root {
        /**theme-colors*/
        --color-main-bg-gray: #f2f2f2;

        --color-main-blue-dark: rgb(8, 21, 64);
        
        --color-main-red: #d93134;
        --color-main-red-active: #f01822;

        --padding-small: 5px;
        --padding-medium: 10px;
        --padding-large: 15px;
        --padding-xl: 20px;
        --padding-xxl: 25px;
        --padding-xxxl: 30px;
        
    }
}