@layer tokens {
    :root {
        /**color */
        --color-bg-form: #fff;
        --color-bg-fieldset: #f2f2f2;
        --color-bg-legend: #ffffffd5;
        --color-font-main: black;

        /**font size */
        --fs-big: clamp(1.6rem, 5vw, 2.3rem);
        --fs-big-legend: clamp(1.3rem, 4.3vw, 1.9rem);
        --font-size-main: clamp(0.85rem, 2.7vw, 1.1rem);
        --font-size-label: clamp(12px, 2.6vw, 18px);
        --fs-h1: 32px;
    

        /**font weight */
        --font-weight-heavy: 700;
        --font-weight-medium: 600;

        /**borders **/
        --border-width-small: 1px;
        --border-color-main: black;
        
        /**Borders */
        --border-radius-base: 3px;
        --border-radius-rounded: 5px;

        
        

    }
}